body {
	background-image: url('bgc.webp');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	height: 100dvh;
	width: 100dvw;
}


#match_waiting_modal {
	border: none;
	background-color: transparent;
	backdrop-filter: blur(15px);
}

#match_waiting_modal .modal-header, #match_waiting_modal .modal-body, #match_waiting_modal .modal-footer {
	border-bottom: none;
	border-top: none;
}
